<button (click)="handleClick()">Alterar número</button>
<p>Aqui eu criei um emissor de eventos que irá emitir um evento toda vez que o botão for clicado, e o método handleClick() irá alterar o valor da variável number. O evento é recebido pelo pai</p>
<h4>Queria ter ido além e colocado exemplos de renderização de lista, pipe operators, service, requisições HTTP, router. Queria ter criado um db.json para simular uma api e consumir ela dentro do angular</h4>
<a href="https://poke-trybe.vercel.app/" target="_blank"> Poketrybe next</a>
<div class="class"></div>
<a href="https://github.com/carloshtbraga/Projeto-TrybeTunes" target="_blank">Simulacao de app de musica com bastante lógica e inumeras requisicoes de ap, react e tw</a><br>
<a href="https://github.com/carloshtbraga/Projeto-Tryunfo" target="_blank">Projeto em react que simula o jogo supertrunfo</a><br>
<a href="https://github.com/carloshtbraga/SolarSystem-React" target="_blank">solar system</a>
<a href="https://github.com/carloshtbraga/Projeto-TrybeWallet" target="_blank">Projeto que cria uma carteira de despesas com conversao de moedas usando api e utilizando o redux como estado global</a>
Falar sobre o starwars, projeto feito com api context, hooks, 3 filtros aninhados

<h1>TS</h1>

<a href="https://github.com/tryber/sd-027-b-trybe-futebol-clube">tfc</a>

